<div class="row">
  <div class="col s12">
    <h3>Overview</h3>
  </div><!-- ./col s12-->
</div><!-- ./row-->

<h6>Algorithm 1: Word Embedding words</h3>
<div class="row" >
  <div class="col s12">
    <form role="form">
      <div class="form-group">
        <label for="jobDescription" class="col s4 control-label">Inputed Description:</label>
        <div class="col s12">
          <textarea type="text" id="jobDescription" name="description" class="materialize-textarea" placeholder="Enter job description here">{{description}}</textarea>
        </div> <!-- ./col s12 -->
      </div><!-- ./form-group -->
      <div class="form-group">
        <div class="col-md-12">
          <button href="/" class="waves-effect waves-light btn" id="submit">Try Again</button>
        </div> <!-- ./col-md-12 -->
      </div> <!-- ./form-group -->
    </form> <!-- /form -->
  </div><!-- ./col s12 -->
</div><!-- ./row -->


<!-- Skills -->
<div class="row" >
  <div class="col s12">
    {{#if skills}}
      <h3>Top 10 Skills</h3>
      <p class="grey-text">Click <a href="#">(?)</a> to find out more about the skill</p>
      <ol>
        {{#each skills}}
          <!-- <button type="button" class="list-group-item">{{this}}<a href="#">(?)</a> <span class="badge badge-success">add</span></button> -->
          <li><b>{{this.skill}}</b><a href="#">(?)</a>({{this.score}}): </br>Words used to destiguish skill: <i>{{#each this.words}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</i></li>
        {{/each}}
      </ol>
    {{/if}}
  </div><!-- ./col s12 -->
</div><!-- ./row -->

{{#if words}}
  <h3>Words Used</h3>
  <pclass="grey-text">Words used to determine the skills needed</p>
  <ul>
  {{#each words}}
    <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}

<script>
  var words = "{{words}}";
  words = words.split(",");
  $('textarea').highlightTextarea({
    words: words,
    caseSensitive: false
  });
</script>
